USE [master]
GO
/****** Object:  Database [ProgresDataBase]    Script Date: 08.12.2022 20:46:08 ******/
CREATE DATABASE [ProgresDataBase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProgresDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProgresDataBase.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProgresDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProgresDataBase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProgresDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProgresDataBase]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OutfitID] [int] NULL,
	[Outfit_Count] [int] NOT NULL,
	[Customer_Surname] [nvarchar](50) NOT NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Customer_Midname] [nvarchar](50) NOT NULL,
	[Customer_Phone] [nvarchar](50) NOT NULL,
	[Customer_Email] [nvarchar](50) NOT NULL,
	[Pay_Option] [nvarchar](20) NOT NULL,
	[TotalSum] [money] NULL,
	[IsDone] [bit] NOT NULL,
	[CreateDate] [date] NOT NULL,
	[Identificator] [nvarchar](50) NOT NULL,
	[Adress_Info] [nvarchar](100) NOT NULL,
	[Shopping_Info] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderList]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderList](
	[ID] [int] NOT NULL,
	[Identifikator] [nvarchar](50) NOT NULL,
	[ShoppingList] [nvarchar](200) NOT NULL,
	[TotalSum] [money] NOT NULL,
	[AdressList] [nvarchar](200) NOT NULL,
	[CreateDate] [date] NOT NULL,
	[CustomerList] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_OrderList] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Outfit]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Outfit](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CountAvailiable] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePreview] [varbinary](max) NULL,
	[Price] [money] NOT NULL,
	[IsActual] [bit] NOT NULL,
 CONSTRAINT [PK_Outfit] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfOrder]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfOrder](
	[OrderID] [int] NOT NULL,
	[OutfitID] [int] NOT NULL,
 CONSTRAINT [PK_TypeOfOrder] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[OutfitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfOrderList]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfOrderList](
	[OrderListID] [int] NOT NULL,
	[OutfitID] [int] NOT NULL,
 CONSTRAINT [PK_TypeOfOrderList] PRIMARY KEY CLUSTERED 
(
	[OrderListID] ASC,
	[OutfitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfUnit]    Script Date: 08.12.2022 20:46:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfUnit](
	[OutfitID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
 CONSTRAINT [PK_TypeOfUnit] PRIMARY KEY CLUSTERED 
(
	[OutfitID] ASC,
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TypeOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfOrder_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[TypeOfOrder] CHECK CONSTRAINT [FK_TypeOfOrder_Order]
GO
ALTER TABLE [dbo].[TypeOfOrder]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfOrder_Outfit] FOREIGN KEY([OutfitID])
REFERENCES [dbo].[Outfit] ([ID])
GO
ALTER TABLE [dbo].[TypeOfOrder] CHECK CONSTRAINT [FK_TypeOfOrder_Outfit]
GO
ALTER TABLE [dbo].[TypeOfOrderList]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfOrderList_OrderList] FOREIGN KEY([OrderListID])
REFERENCES [dbo].[OrderList] ([ID])
GO
ALTER TABLE [dbo].[TypeOfOrderList] CHECK CONSTRAINT [FK_TypeOfOrderList_OrderList]
GO
ALTER TABLE [dbo].[TypeOfOrderList]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfOrderList_Outfit] FOREIGN KEY([OutfitID])
REFERENCES [dbo].[Outfit] ([ID])
GO
ALTER TABLE [dbo].[TypeOfOrderList] CHECK CONSTRAINT [FK_TypeOfOrderList_Outfit]
GO
ALTER TABLE [dbo].[TypeOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfUnit_Outfit] FOREIGN KEY([OutfitID])
REFERENCES [dbo].[Outfit] ([ID])
GO
ALTER TABLE [dbo].[TypeOfUnit] CHECK CONSTRAINT [FK_TypeOfUnit_Outfit]
GO
ALTER TABLE [dbo].[TypeOfUnit]  WITH CHECK ADD  CONSTRAINT [FK_TypeOfUnit_Type] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Type] ([ID])
GO
ALTER TABLE [dbo].[TypeOfUnit] CHECK CONSTRAINT [FK_TypeOfUnit_Type]
GO
USE [master]
GO
